
body {
    background: linear-gradient(#615dad,#ffc8da);
    display: flex;
    align-items: center;
    padding: 10px;
}

h1 {
    font:2em;
    font-family: "Lobster", cursive;
    color: #ffffff;
    }

p {
    font-family: Helvetica, sans-serif;
}  

.app {
    display: flex;
    flex-direction: column;
    background-color: #283e50;
    border-radius: 10px;
    }

.image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text {
    font:2em;
    font-family: "Lobster", cursive;
    color: #ffffff;
    text-align: center;
}

.button1 {
    width: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1fcca4;
    height: 35px;
    border: none;
    margin-bottom: 1px;
}

.button1:hover {
    background-color: #1cbb96;
    cursor: pointer;
  }
  
.button2 {
    width: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0197f6;
    height: 35px;
    border: none;
    margin-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
.button2:hover {
    background-color: #0090e9;
    cursor: pointer;
  }

@media (min-width:620px) {
    .app {
          max-width: 40%;
          margin: 50px auto;
        } }